/*
 * Все паршалы импортировать в этот файл
 */

@import 'helpers/variables';
@import 'helpers/extras';
@import 'normalize.scss';
@import 'fonts.scss';
@import 'base.scss';

@import 'icons.scss';

.page-wrap {
  width: 100%;
  min-width: 37.5rem;
  min-height: 100vh;

  background: $primary-color;

  @media screen and (min-width: 1440px) {
    position: relative;
  }
}

.main-content {
  &__promo {
    min-height: 40.9rem;

    @media screen and (min-width: 667px) {
      min-height: 36.1rem;
    }

    @media screen and (min-width: 1440px) {
      position: absolute;
      top: 120rem;

      width: 130.5rem;
      min-height: 31.1rem;
    }
  }
}

.container {
  min-width: 320px;
  padding: 0 3rem;

  @media screen and (min-width: 375px) {
    max-width: 31.5rem;
    margin: auto;
    padding: 0;
  }

  @media screen and (min-width: 576px) {
    max-width: 100%;
  }

  @media screen and (min-width: 768px) {
    max-width: 54rem;
  }

  @media screen and (min-width: 576px) and (max-width: 992px) and (orientation: landscape) {
    max-width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  @media screen and (min-width: 992px) {
    max-width: 96rem;
  }

  @media screen and (min-width: 1200px) {
    max-width: 114rem;
  }

  @media screen and (min-width: 1440px) {
    max-width: 117rem;
  }
}

.section {
  padding-top: 12.5rem;
  padding-bottom: 8.1rem;

  @media screen and (min-width: 1440px) {
    padding-top: 22.3rem;
  }

  &__title {
    position: relative;

    font-family: 'Proxima Nova Black';
    font-size: 3rem;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    color: $white-color;

    @media screen and (min-width: 1440px) {
      font-size: 4.8rem;
    }

    &::before {
      position: absolute;
      top: -3.4rem;

      display: block;
      width: 2rem;
      height: 2rem;

      background-image: url(../images/rectangle.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      content: '';

      @media screen and (min-width: 1440px) {
        top: -4.9rem;

        width: 3rem;
        height: 3rem;
      }
    }

    &_dark {
      color: $primary-color;
    }
  }
}

.services {
  background-image: url(../images/services-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 47px;

  @media screen and (min-width: 768px) and (orientation: landscape) {
    padding-bottom: 15.2rem;
  }

  @media screen and (min-width: 1440px) {
    padding-bottom: 35.2rem;
  }

  &__title {
    margin-bottom: 9.3rem;

    @media screen and (min-width: 1440px) {
      margin-bottom: 17.7rem;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media screen and (min-width: 576px) {
      display: flex;
      flex-flow: row wrap;

      justify-content: space-around;
    }

    @media screen and (min-width: 1440px) {
      width: 97.6rem;
      margin: auto;

      justify-content: space-between;
    }
  }

  &__item {
    position: relative;

    margin-bottom: 9.4rem;

    @media screen and (min-width: 576px) {
      max-width: 30rem;
    }

    @media screen and (min-width: 768px) and (orientation: portrait) {
      max-width: 21rem;
    }

    @media screen and (min-width: 992px) {
      max-width: 40.2rem;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 18.4rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-last-child(-n + 2) {
      @media screen and (min-width: 665px) {
        margin-bottom: 0;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 0;
      }
    }

    &::before {
      position: absolute;
      top: -5rem;

      display: block;
      width: 3.8rem;
      height: 3.8rem;

      content: '';

      @media screen and (min-width: 1440px) {
        top: -7.2rem;

        width: 5.6rem;
        height: 5.6rem;
        margin-bottom: 18.4rem;
      }
    }

    &-title {
      margin-bottom: 2.6rem;

      font-family: 'Proxima Nova Bold';
      font-size: 2.2rem;
      line-height: 1.2em;
      letter-spacing: 0.03rem;

      color: $white-color;

      @media screen and (min-width: 1440px) {
        margin-bottom: 4.2rem;
        font-size: 3.2rem;
      }
    }

    &-text {
      font-family: 'Proxima Nova Light';
      font-size: 1.6rem;
      line-height: 1.5em;
      letter-spacing: 0.03rem;

      color: $main-text-color;
    }
  }
}

.promo {
  position: relative;

  padding-top: 19.1rem;

  color: $white-color;
  background-color: $accent-color;
  text-align: center;

  background-image: url(../images/promo-bg-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;

  @media screen and (min-width: 667px) {
    padding-top: 6.6rem;
  }

  @media screen and (min-width: 1440px) {
    position: absolute;

    padding-top: 6.6rem;

    background-image: url(../images/promo-bg-img-large.png);
  }

  &__container {
    @media screen and (min-width: 1440px) {
      max-width: 100%;
      padding-left: 13.7rem;
    }
  }

  &__content {
    text-align: left;

    @media screen and (min-width: 667px) {
      display: flex;
      width: 39.1rem;

      justify-content: space-between;
    }

    @media screen and (min-width: 1440px) {
      width: 48.1rem;
    }
  }

  &__title {
    margin-bottom: 3.6rem;

    font-family: 'Proxima Nova Extrabold';
    font-size: 2.24rem;
    line-height: 1.2em;
    letter-spacing: 0.05rem;

    @media screen and (min-width: 1440px) {
      margin-bottom: 0;
      font-size: 3.2rem;
    }
  }

  &__text {
    max-width: 19.1rem;

    font-family: 'Proxima Nova Regular';
    font-size: 1.6rem;
    line-height: 1.5em;
    letter-spacing: 0.04rem;

    @media screen and (min-width: 667px) {
      padding-top: 3.9rem;
      font-size: 2.4rem;
      line-height: 1.416em;
    }
  }

  &__image {
    position: absolute;
    top: -5.7rem;
    right: 0;

    @media screen and (min-width: 992px) {
      width: 56%;
    }

    @media screen and (min-width: 1440px) {
      right: -28px;
      top: -76px;

      width: 50%;
    }
  }

  &__button {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);

    padding: 1.8rem 9.4rem;
    max-width: 28rem;
    font-family: 'Proxima Nova Bold';
    font-size: 1.6rem;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.05rem;

    color: $primary-color;
    background: $orange-color;
    border: none;

    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: $white-color;
      background-color: #ec407a;
    }

    @media screen and (min-width: 992px) {
      position: absolute;
      bottom: -3.8rem;
      left: 233px;

      max-width: initial;
      padding: 2.4rem 12.9rem;

      font-size: 2.2rem;

      transform: initial;
    }
  }
}

.products {
  min-height: 100px;
  background-color: #fff;

  @media screen and (min-width: 1440px) {
    padding-top: 18.7rem;
  }

  &__title {
    width: 29.1rem;

    @media screen and (min-width: 1440px) {
      width: 51.3rem;
    }
  }
}

// :root {
//   --animate-delay: 0.5s;
// }

// @keyframes fadeInUp {
//   from {
//     transform: translate3d(0, 40px, 0);
//   }

//   to {
//     transform: translate3d(0, 0, 0);
//     opacity: 1;
//   }
// }

// @-webkit-keyframes fadeInUp {
//   from {
//     transform: translate3d(0, 40px, 0);
//   }

//   to {
//     transform: translate3d(0, 0, 0);
//     opacity: 1;
//   }
// }

// .animated {
//   animation-duration: 1s;
//   animation-fill-mode: both;
//   -webkit-animation-duration: 1s;
//   -webkit-animation-fill-mode: both;
// }

// .animatedFadeInUp {
//   opacity: 0;
// }

// .fadeInUp {
//   opacity: 0;
//   animation-name: fadeInUp;
//   -webkit-animation-name: fadeInUp;
// }
