/*
 * Все паршалы импортировать в этот файл
 */

@import 'base/helpers/variables';
@import 'base/helpers/extras';
@import 'base/normalize.scss';
@import 'base/fonts.scss';

@import 'base/base.scss';
@import 'base/general.scss';
@import 'base/icons.scss';

@import './layout/services.scss';
@import './layout/promo.scss';
@import './layout/products.scss';

.BG {
  background-color: #233148;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 1313px;
  z-index: 13;
}
